.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.left ul,
.right ul {
    list-style-type: none;
    padding: 0;
}

.left ul li,
.right ul li {
    display: inline;
    margin-right: 10px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
    .menuList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .menuList {
        grid-template-columns: 1fr;
    }
}