.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer .left,
.footer .center,
.footer .right {
    flex: 1 1 100%;
}

@media only screen and (min-width: 768px) {

    .footer .left,
    .footer .center,
    .footer .right {
        flex: 1 1 auto;
    }
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}